@media all and (max-width: 578px) {
    .leaflet-container {
        margin: 0 auto;
        width: 100%;
        height: 50vh;
    }

    button:not(.navbar-toggler) {
        width: 100%;
        display: block;
    }
}

@media all and (min-width: 576px) {
    .Register .Login .Management {
        padding: 60px 0;
    }

    table, th, td {
        border: 2px solid black;
      }

    table, th, td form {
        margin: 0 auto;
        max-width: 300px;
    }
    .Register form {
        margin: 0 auto;
        max-width: 400px;
    }

    .Login form {
        position: relative;
        top: 100px;
        margin: 0 auto;
        max-width: 400px;
    }

    .Management form {
        margin: 0 auto;
        max-width: 400px;
    }


    #map {
        margin: 0 auto;
        width: 70%;
        height: 70vh
    }

    .leaflet-container {
        margin: 0 auto;
        width: 80%;
        height: 50vh;
    }

    .selected {
        filter: hue-rotate(135deg);
    }
}


#map {
    z-index: 1;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}